:root {
    --light-colour-1-on: rgb(255, 93, 93);
    --light-colour-1-off: rgb(58, 28, 28);
    --light-colour-2-on: rgb(88, 255, 88);
    --light-colour-2-off: rgb(34, 58, 34);
    --light-animation-duration: 1s;
}

body{
    background-color: black;
}

.red-light {
    background-color: var(--light-colour-1-off);
}

.green-light {
    background-color: var(--light-colour-2-off);
}

#lights-container {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

#input-container {
    width: 70vw;
    margin: 40px 0px 0 70px;
}

#interval-input-container {
    width: 70vw;
    margin: 10px 0px 0 70px;
}

.circle {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    transition: background-color var(--light-animation-duration);
}

.field {
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    margin: 10px 5px;
}

.black-text {
    color: black;
}